.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.login-img {
    height: 100vh;
    opacity: 85%;
    background: url("../img/ngcp2.jpg") no-repeat center center;
    background-size: cover;
}
.nav-link::after {
    color: white;
}
.row {
    width: 100% !important;
}
.div-center {
    margin-top: 35%;
}
.svums-btn {
    background-color: #04aa6d !important;
}
.svums-btn-nav {
    border: 4px solid #2e475b !important;
}
.clock {
    color: #ffffff;
    font-size: 25px;
    font-family: Orbitron;
    letter-spacing: 5px;
}
.custom-filter-fields {
    padding: 0.2rem;
    margin-right: 0.3rem;
    border: #2e475b solid 0.15rem;
}
.custom-filter-select {
    width: 15%;
    text-align: center;
}
.custom-filter-text {
    width: 15%;
    text-align: center;
}
.custom-field-btn {
    width: 10%;
    border: #04aa6d solid 0.2rem;
    color: #000000;
}
.bg-app-secondary {
    background-color: #f6f8fa;
    height: 75vh;
}
.custom-content-body {
    padding: 2rem;
}
.custom-btn-table-export {
    width: 8%;
    border: #04aa6d solid 0.2rem;
    color: #000000;
    font-weight: 600;
    padding: 0.2rem;
}
.custom-btn-submit {
    border: #04aa6d solid 0.2rem;
    color: #000000;
    font-weight: 600;
}
.custom-footer {
    background-color: #2B475E;
    position: fixed; 
    bottom: 0;
    width: 100%;
    color: #ffffff;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}